#start
title: Winnie
mail: 15992657503@163.com
description: Winnie
author: chuwajiang
github: https://github.com/chuwajiang
logo: https://avatars2.githubusercontent.com/u/31090464?v=4
dataSource: blog
#end


paginate:     20   # 每页显示20条

# Build settings
markdown_ext: mdxxx # 防止md文件被编译
paginate_path: ./page/:num/
permalink:     ./post/:categories/:year-:month-:day-:title:output_ext
source:  .
include: ["admin"]
exclude: ["node_modules", "scripts"]

destination:      ./.site
layouts_dir:      ./_layouts

excerpt_separator: <!--more-->  # you can specify your own separator, of course.

defaults:
  - scope:
      path: "_posts" # an empty string here means all files in the project
      type: "posts" # previously `post` in Jekyll 2.2.
    values:
      layout: "posts"
      comments: false
      category: "未归类"
